body {
    font-size: 14px !important;
    }
section.mainPage ul.main-tab li.nav-item {
    text-align: center;
    font-weight: 600;
    display:flex;
}
section.mainPage ul.main-tab li.nav-item a.nav-link {
    color: #a7a7a7;
}
section.mainPage ul.main-tab li.nav-item a.nav-link.active {
    color: black;
}
.nextButton a {
    float: right;
    text-decoration: none !important;
    background: #fe5e00;
    color: white !important;
    padding: 10px 12px;
    border-radius: 50%;
}
a.upperCut {
    margin-right: -50px;
}
ul.main-tab > li{
	flex-grow: 1;
}
.navbar-light .navbar-brand {
    color: white !important;
    
}
button.noBorder {
    background: transparent;
    border: none;
}
.bg-patient {
    background: #fe5e00;
}
.bg-patient li a {
    color: white !important;
}
.bg-patient li.dropdown-item  a{
    color: black !important;
}
.header-text {
    background: #FE5E00;
    padding: 10px;
    text-align: center;
    margin-bottom: 35px;
}
.compliants {
    border: 1px solid #dee2e6;
    padding: 12px 13px;
    margin-bottom: 35px;
}
.inner-header {
    background: #FE5E00;
    padding: 6px 12px 1px;
    margin-bottom: 15px;
}
.compliants form label {
    background: #FE5E00;
    padding: 3px;
    text-align: center;
    color: white;
}
.displayComplaints {
    border: 1px solid #dee2e6;
    padding: 12px 13px;
}
.btn-par:hover {
    background: white;
    border: 1px solid #fe5e00;
    color: #fe5e00;
}

.btn-par {
    background: #fe5e00;
    color: white;
    font-weight: 500;
}
form.col-sm-12.form-details, .form-details .col-sm-12 {
    padding: 0px;
}
span.col-sm-1.unit {
    padding: 2px;
}
form.col-sm-12.form-details .form-group {
    margin-bottom: 0px;
}
.complaints.hist textarea {
    max-width: 100%;
    min-width: 100%;
}
.sys_exam {
    height: 140px;
}
.compliants.sys-exam {
    margin-bottom: 2px;
    overflow: auto;
}
form#searchForm {
    width: 18%;
    display: inline-block;
    float: right;
}
.inner-header h5 {
    display: inline-block;
    color: white;
}
form#searchForm button.btn.btn-default {
    padding: 3px 7px;
    margin-top: -4px;
}
.img_report{
    width:20%;
}
.img_report img {
    max-width: 100%;
    min-width: 100%;
}
p.para-noaccess {
    text-align: center;
    line-height: 300px;
    font-size: 33px;
    font-weight: 100;
    font-variant-caps: small-caps;
    text-shadow: 3px 3px 4px #b7b1b1;
}

.btn.btn-unselected {
    background: #FE5E00;
    color: #212529;
}


.btn.btn-selected {
    background: green;
    color: white;
}
p.para-noaccess span {
    display: block;
    margin-top: -240px;
}
.user-mgmt {
    min-width: 70%;
    margin: auto;
    max-width: 70%;
}

.doctors {
    max-width: 70%;
    min-width: 70%;
    margin: auto;
    border: 1px solid #ced4da;
    padding: 50px 70px;
}
.submit-doc {
    margin-top: 44px;
}
.header-text h3 {
    display: inline;
    color: white;
}
a.link-create {
    display: inline;
    float: right;
    background: white;
    padding: 7px 12px;
    border-radius: 25px;
    color: #fe5e00;
}
textarea.signature {
    float: right;
}
span.use_time_backgrd.col-sm-7 {
    background: #FE5E00;
    padding: 3px 50px;
    text-align: center;
}
.sign_part {
    float: right;
    padding: 20px 0;
}
.sign_part input {
    margin-top: 20px;
}
.selected_patient_investigation_image img {
    border: 1px solid;
    max-width: 100%;
    min-width: 100%;
    transition: transform .3s ease-in;
}
img#investigationReport:hover {
    transform: scale(2);
}
.load_all.data input {
    margin-top: 85%;
}
.load_all.data{
    z-index: -1;    
}
.investigation_btn {
    float: right;
}
.selected_patient_image img {
    max-width: 80%;
}
.rx_btn button {
    margin-top: 20%;
}

.examination-test-title {
    font-size: 16px;
    font-weight: 500;
}
.compliants.sys-exam .header-text {
    margin-bottom: 0px;
}
.right_report_side p{
    margin-bottom: 8px;
}
.right_report_side{
    float: right;
}
span.small-box {
    background: #afa7a7;
    color: white;
    padding: 1px 6px;
    border-radius: 5px;
}
section.mainPage ul.main-tab li.nav-item a.nav-link.active span.small-box {
    background: black;
}
a.dropdown-item:hover {
    color: #fe5e00 !important;
    background: white;
}

a.dropdown-item {
    background: #fe5e00;
}

/* Modal report css for pathology */
        section.print-header {
            text-align: center;
            padding: 80px 30px 30px;
        }
        section.patient-detail .table {
            border: 1px solid #FE5E00;
        }
        section.patient-detail .table tr td {
            padding-top: 7px;
            padding-bottom: 5px;
        }
        .medicineCanvas {
            height: 600px;
            border: 1px solid #FE5E00;
            position: relative;
            background: #FE5E002e;
        }
        .medicineCanvas img {
            position: absolute;
            top: 28%;
            left: 35%;
            opacity: 0.2;
            width: 30%;
        }
        section.medicines {
            padding-top: 30px;
        }
        footer {
            padding: 50px 0px;
            text-align: right;
        }
        footer h6 {
            padding-right: 27px;
            padding-top: 10px;
        }
        table.table.medicineList {
            width: 70%;
            padding: 50px !important;
            position: absolute;
            left: 13%;
            top: 14%;
        }
        table.table.medicineList {
            height: 400px;
            background: white;
        }
        